*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#menu{
    font-size: 2rem;


}
#menu:hover{
    background-color: orangered;
    border-radius: 30px;
}
#banner{
    width: 100%;
    height: 50%;
    background-position: center;
    border-radius: 20px;
}
#banner1{
    width: 100%;
    height: 100vh;
}
#landing{
    width: 100%;
    height: 100%;
    box-shadow: 10px 10px 10px 10px black;
}
#landing:hover{
    transform: scale(1.1);
}

#coding{
    width: 100%;
    height: 100%;
}